:root {
    --black: #222222;
    --light-pink:#F1E4E6;
    --pink: #F16D7F;
    --sales-bkg-color: #4f4745;
    --text-white: #FFFFFF;
    --text-info-grey: #9F9F9F;
    --catalog-bgk-light-blue: #F8F8F8;
    --text-black: #000000;
}

.body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black);
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
    position: relative;
}

.header__list {
    display: flex;
}
.header__menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.header__nav {
    position: absolute;
    width: 232px;;
    top: 100%;
    right: 0;
    display: none;
    position: absolute;
    background: #FFFFFF;
}

.header__nav:hover {
    display: block;
}
.header-burger:hover +.header__nav,
.header-burger:focus +.header__nav {
    display: block;
}

.header__logo{
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 34px;
}

.header__nav {
    display: none;
    padding: 34px 0 157px 34px;
}

.header__button {
    border: none;
    background-color: transparent;
}

.header__burger-icon {
    fill: var(--white);
}

.header__nav-list{
    padding: 0;
    margin: 0;
    list-style: none;
}


.header__nav-link{
    text-decoration: none;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #6F6E6E;
}

.header__title{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.header__nav-item {
    padding: 24px 0 12px 0 ;
}

.nav-sub-item__item{
    padding: 11px 0 11px 14px;
}
.chapter-link {
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-transform: uppercase;
color: var(--pink);
}


.brand{
    display: flex;
    margin: 0 0 62px 0;
}

.brand__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
    background-color: var(--light-pink);
}

.brand__title { 
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;   
    text-transform: uppercase ; 
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--pink);
}

.sales__title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.sales_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    padding: 20px;
    box-sizing: border-box;
    width: 360px;
    min-height: 260px;
    background-color: var(--sales-bkg-color) ;
}


.sales__item-accesories {
    width: 100%;
    background-image: url(../img/accesuaries.jpg);
    margin: 30px 0 0 0 ;
    background-repeat: no-repeat;
    background-size: cover;
}

.sales__item-woman {
    background-image: url(../img/for-women.jpg);
    background-image: no-repeat;
}

.sales__item-man {
    background-image: url(../img/for-man.jpg);
    background-image: no-repeat;
}

.sales__item-kids {
    background-image: url(../img/for-kids.jpg);
    background-image: no-repeat;
}

.sales__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    padding: 105px 0 0 0 ;
    color: var(--text-white);
    text-transform: uppercase;
}

.sales__text-info {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--pink);
    text-transform: uppercase;
}

.catalog {
    margin: 96px 0 0 0;
}

.catalog__text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: var(--text-info-grey);
    margin: 6px 0 0 0 ;
}

.catalog__title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    color: var(--black);
}

.catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__item {
    width: 360px;
    background-color: var(--catalog-bgk-light-blue) ;
    margin: 30px 0 0 0 ;
}

.catalog__title-product {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--text-black);
    text-transform: uppercase;
    margin: 0 0 12px 18px;
}

.catalog__text-info {
font-size: 14px;
font-weight: 300;
line-height: 17px;
letter-spacing: 0em;
margin: 0 0 18px 18px;
color:#5D5D5D;
}

.catalog__text-price {
    margin: 0 0 20px 18px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: var(--pink);
}

.catalog__item-img {
    margin: 0 0 26px 0;
}

.catalog__button {
    text-decoration: none;
    display:flex ;
    justify-content: center;
    margin: 49px 0 95px 0;
}

.catolog__button-product{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--pink);
    border: 1px solid var(--pink);
    padding: 15px 39px;
}   

.footer {
    background-color: var(--black);
}

.footer__list {
    display: flex;
    justify-content: space-between ;
    padding: 104px 0;
}
    

.footer__list-info {
    justify-content: center;
    text-align: center;
    padding: 30px;
    
}

.footer__item-info{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FBFBFB;
}

.footer__text-info {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    color: #FBFBFB;
}
.footer__title{
    margin: 28px 0 16px 0;
}

.footer__list-base {
    display: flex;
    justify-content: space-between;

}

.footer__item-base {
    justify-content: center;
    text-align: center;
}